label{
    display: inline-block;
    text-align: left;
    width: 120px;
}

section{
    padding: 10px 50px;
    border: 1px solid;
    width: 500px;
    margin: 0 auto;
}

textarea {
	/* width: 480px;  横幅 */
    width: 100%;
	height: 100px; /* 高さ */
    justify-content: start;
    text-align: left; 
    padding: 0;
    margin: 0;
}

/* 投稿者名、投稿時間 */
.titlebar {
    display: flex;
    justify-content: space-between;
}

.center {
     text-align: center;
}


.post_button{
    text-align: center;
    width: 100px;
    font-size: 15px;
    color: #fff;
    padding: 5px 0px;
	background-color: gray;
}

.delete_button {
    margin-left: 10px; 
}

/* 親要素 */
.select_button {
    /* display: flex; */
    justify-content: flex-end;
    /* margin-right: 110px; */
}

.button {
    width: 100px;
    font-size: 15px;
    color: #fff;
    padding: 5px 0px;
	background-color: gray;
}


.white_button{
    /* width: 110px; */
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    }


/* 投稿一覧 */
.frame{
    padding: 10px; 
    margin-bottom: 10px; 
    border: none;  
    background-color: lightgray;

}
